
html, body {
	height: 100%;
    padding: 0;
    margin: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	background: rgb(40, 44, 52);
	font-weight: 100;
}
hr {
	border: 0;
	background: rgb(40, 44, 52);
	height: 5px;
}
h1 {
	font-size: 100%;
	display: inline;
	margin: 0;
}
img {
    vertical-align: middle;
    border: 0;
}

select {
  color: white;
  background: transparent;
  padding: 5px;
  border: 1px solid #ccc;
  outline: transparent;
}

select > option {
  background: #282B30;
  color: white;
  outline: transparent;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

a:focus{
    outline: none;
}

.wrap {
	height: 98%;
}

ul.options {
	list-style: none;
	padding: 0 5px 0 15px;
	margin: 2px 0;
}
ul.options li, ul.options li p{
	margin: 2px;
}
ul.options code, .highlighter-rouge pre, .sidebar code{
	color: #c678dd;
}
.jhi-logo{
	width: 30px;
	position: relative;
	top: -5px;
}
header {
	display: block;
	position: absolute;
	top:0;
	height: 60px;
	width: 100%;
	z-index: 4;
	font-family: Calibri, Helvetica, sans-serif;
	font-weight: bold;
	background: rgb(40, 44, 52);
	box-shadow: 0px 0 10px rgba(0, 0, 0, 0.40)
}
#linemarker {
	background: rgba(220,50,47,0.5);
	position: absolute;
	left: 0;
	top: -30px;
	width: 45px;
	height: 22px;
	z-index: 4;
}
#textarea {
	outline: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0);
	box-sizing: border-box;
	border: 0;
	font-family: Consolas, Menlo, monospace;
	color: #657b83;
	padding: 30px 0 0 40px;
	resize: none;
	opacity: 1;
	transition: opacity 0.3s;
}
.CodeMirror {
  height: 96%;
  border: 0;
  width: 100%;
  margin: 60px 0 20px 0;
  line-height: 25px;
  font-size: 16px;
  font-family: Consolas, Monaco, monospace;
  opacity: 1;
  transition: opacity 0.3s;
}

.CodeMirror .CodeMirror-linenumber {
  color: #3E4350;
  padding-left: 12px
}
.canvas-mode .CodeMirror {
	opacity: 0;
	transition: opacity 1s;
}
.tools i {
	color: #fdf6e3;
	font-size: 1.2em;
}
.canvas-tools i {
	font-size: 1.5em;
}
.canvas-tools a {
	line-height: 2.5em;
}
#canvas-panner {
	position: absolute;
	z-index: 2;
	width: 33%;
	height: 100%;
	background: rgba(0,0,0,0);
	top: 0;
	right: 20px;
	bottom: 0;
	cursor: move;
}
#linenumbers {
	position: absolute;
	top: 0;
	left: 0;
	width: 45px;
	height: 100%;
	background: rgb(32, 36, 45);
	color:#D4CEBD
}
#linenumbers.error {
	background: rgba(220, 50, 47, 0.3);
	z-index: 4;
}
#canvas {
	position: absolute;
	cursor: move
}
#error-tooltip {
	font-size: 90%;
	font-weight: bold;
	color: rgb(245, 96, 96);
	position: fixed;
	top: 7px;
	left: 45px;
	text-align: right;
	background: rgb(40, 44, 52);
	border-radius: 2px;
	padding: 0 5px;
	font-family: Calibri, Helvetica, sans-serif;
	z-index: 5
}
a, a:active {
	color: #61afef;
	opacity: 0.75;
	text-decoration: none
}
a:hover {
	color: #61afef;
	opacity: 1.0;
	text-decoration: none
}
.invert{
	-webkit-filter: grayscale(100%) brightness(1.5) invert(100%);
	filter: grayscale(100%) brightness(1.5) invert(100%);
}
.tools {
	display: block;
	position: absolute;
	z-index: 4;
	top: 10px;
	right: 20px;
	font-family: Calibri, Helvetica, sans-serif;
	font-weight: bold;
	background: transparent;
	border-radius: 5px;
}
.tools.left {
	left:20px;
}
.tools .canvas-tools {
	display: block;
	position: absolute;
	top: 60px;
	right: 0;
	width: 24px;
	opacity: 0;
	transition: opacity 1s;
}
.canvas-mode .canvas-tools {
	opacity: 1;
	transition: opacity 0.3s;
}
.tools i {
	width: 24px;
	height: 24px;
	margin-bottom: 5px;
}
.tools>a {
	margin-left: 5px;
}
.tools>.logo {
	color: #fdf6e3;
	font-size: 150%;
}
.tools>#tooltip {
	font-size: 90%;
	color: #807C72;
	position: fixed;
	top: 7px;
	right: 20px;
	text-align: right;
	background: rgb(40, 44, 52);
	border-radius: 2px;
	padding: 0 5px;
}
.tools > #storage-status {
	color: #fdf6e3;
	opacity: 0.5;
	font-style: italic;
	position: fixed;
	top: 7px;
	right: 0;
	width: 100%;
	text-align: center;
}
.tools > #storage-status a {
	border: 2px solid rgba(255, 246, 223, 0.63);
	padding: 0 5px;
	border-radius: 4px;
	font-style: normal;
	opacity: 1;
}

.tools .seperator {
  color: white;
  font-size: 25px;
  margin: 0 10px;
}

.sidebar {
	display: none;
	position: absolute;
	z-index: 3;
	top: 0px;
	right:0;
	bottom: 0;
	width: 375px;
	background-color: rgb(40, 44, 52);
	box-shadow: -3px 0 6px rgba(0, 0, 0, 0.28);
}
.sidebar.visible {
	display: block;
	overflow: auto;
}
.sidebar .logo-background {
	position: fixed;
	top: 0;
	right: 20px;
	width: 300px;
	height: 70px;
	background: rgb(40, 44, 52)
}
.content {
	display: block;
	color: #9da5b4;
	font-family: Consolas, Monaco, monospace;
	padding: 70px 10px 200px 20px;
}
.content p {
	font-family: Calibri, Helvetica, sans-serif
}
.content label{
	display: block;
	font-family: Calibri, Helvetica, sans-serif;
	color: #93a1a1;
	margin-top: 1em;
}
.content h2{
	font-size: inherit;
	display: block;
	font-family: Calibri, Helvetica, sans-serif;
	color: #93a1a1;
	margin-top: 1em;
}
.content b {
	display: inline-block;
	font-weight: normal;
	width: 40%;
	font-family: Calibri, Helvetica, sans-serif;
	color: #93a1a1;
}

/* Styles for dialog window */
button.btn {
	border: 1px solid #B9B3B3;
    color: rgb(40, 44, 52);
    background: transparent;
    padding: 6px 15px;
    border-radius: 2px;
    cursor: pointer;
}
button.btn:hover {
	background: #B9B3B3;
}
input.upload {
	margin: 5px 0 25px;
}
.mag-dialog {
	background: white;
	padding: 20px 30px;
	text-align: left;
	max-width: 400px;
	margin: 40px auto;
	position: relative;
	color: #282B30;
	font-family: Calibri,"PT Sans","Trebuchet MS",'Helvetica Neue',Arial;
}

.mag-dialog h1{
	font-size: 1.5em;
	font-weight: 400;
}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;



	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 );
	transform: translateY(0) perspective( 600px ) rotateX( 0 );
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg );
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
