<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A tool for drawing sassy UML diagrams based on JDL syntax. Provides instant feedback and has a customizable styling.">
	<meta name="authors" content="Deepu KS">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#282C34">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#282C34">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#282C34">
	<title>JDL-Studio</title>

	<!-- build:css dist/css/main.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="bower_components/magnific-popup/dist/magnific-popup.css">
	<link rel="stylesheet" href="bower_components/icon-font.min/index.css">
	<link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css">
	<!-- endinject -->

	<!-- inject:css -->
	<link rel="stylesheet" href="css/codemirror/show-hint-jdl.css">
	<link rel="stylesheet" href="css/codemirror/solarized.jdl.css">
	<link rel="stylesheet" href="css/app.css">
	<!-- endinject -->
	<!-- endbuild -->
	<link rel="shortcut icon" href="favicon.ico">
</head>
<body ng-app="jdlStudio" ng-controller="workspaceController as app" ng-cloak>
	<div class="wrap">
		<header>
			<div class="tools left">
				<a href="https://www.jhipster.tech/" title="JHipster website" target="_blank"><img class="jhi-logo" src="img/logo-jhipster.png"></a>
				<a class="logo" href="javascript:void(0)" ng-click="app.toggleSidebar('about')" title="About JDL-Studio"><h1>JDL-Studio</h1> &nbsp;</a>
      </div>
      <div class="tools">
        <a id="signin" href="javascript:void(0)" ng-show="app.insideJhOnline && !app.authenticated" ng-click="app.goToJHipsterOnline()" title="Sign in">
          Please sign in for more features!
        </a>
        <a id="signin" href="https://start.jhipster.tech/jdl-studio/" ng-hide="app.insideJhOnline" title="Go to new JDL Studio with more features">
          Go to new JDL Studio
        </a>
        <a href="javascript:void(0)" title="Logged in as" ng-show="app.authenticated">
          {{app.username}}
        </a>
        <a href="javascript:void(0)" title="Use existing JDL" ng-show="app.authenticated">
          <select ng-model="app.jdlId" ng-change="app.changeJdl()">
            <option value="">&lt;Create new JDL Model&gt;</option>
            <option ng-repeat="option in app.jdls" ng-value="option.id">{{option.name}}</option>
          </select>
        </a>
        <a href="javascript:void(0)" title="Save JDL" ng-click="app.confirmCreateNewJdl()" ng-show="app.authenticated && !app.startLoadingFlag">
          <i class="lnr lnr-file-add"></i>
        </a>
        <a ng-show="app.authenticated && app.startLoadingFlag">
          <i class="lnr lnr-sync"></i>
        </a>
        <a href="javascript:void(0)" ng-click="app.goToManageJdls()" title="Manage JDLs" ng-show="app.authenticated">
           <i class="lnr lnr-cog"></i>
        </a>
        <a href="javascript:void(0)" ng-show="app.insideJhOnline" ng-click="app.goToJHipsterOnline()" title="Go to the main JHipster Online page">
          <i class="lnr lnr-home"></i>
        </a>
        <span class="seperator"><i class="lnr">|</i></span>
				<a href="javascript:void(0)" ng-click="app.toggleSidebar('about')" title="About JDL-Studio">
					<i class="lnr lnr-question-circle"></i>
				</a>
				<a href="javascript:void(0)" ng-click="app.toggleSidebar('reference')" title="Language reference">
					<i class="lnr lnr-book"></i>
				</a>
				<a id="savebutton" href="javascript:void(0)" download="jdl.png" title="Download snapshot of this diagram">
					<i class="lnr lnr-camera"></i>
				</a>
				<a id="saveTextbutton" href="javascript:void(0)" download="jdl.jh" title="Download text file of this JDL">
					<i class="lnr lnr-download"></i>
				</a>
				<a id="uploadbutton" class="upload-dialog" href="#upload-dialog" title="Import text file of a JDL">
					<i class="lnr lnr-upload"></i>
				</a>
				<a href="javascript:void(0)" ng-click="app.confirmDiscardCurrentGraph()" title="Discard this diagram">
					<i class="lnr lnr-trash"></i>
				</a>
				<span id="tooltip"></span>
				<span id="storage-status" ng-show="app.showStorageStatus" ng-cloak>
					View mode, changes are not saved.
					<a href="javascript:void(0)" ng-click="app.saveViewModeToStorage()"
					   title="Save this diagram to localStorage">save</a>
					<a href="javascript:void(0)" ng-click="app.exitViewMode()"
					   title="Discard this diagram">close</a>
				</span>

				<div class="canvas-tools" id="canvas-tools">
					<a href="javascript:void(0)" ng-click="app.magnifyViewport(2)" title="Zoom in">
						<i class="lnr lnr-plus-circle"></i>
					</a>
					<a href="javascript:void(0)" ng-click="app.resetViewport()" title="Reset zoom and panning">
						<i class="lnr lnr-frame-contract"></i>
					</a>
					<a href="javascript:void(0)" ng-click="app.magnifyViewport(-2)" title="Zoom out">
						<i class="lnr lnr-circle-minus"></i>
					</a>
				</div>
			</div>
		</header>
		<!-- canvas holding the UML diagram-->
		<canvas id="canvas"></canvas>
		<!-- Text area used by code mirror editor-->
		<textarea id="textarea" jdl-editor="{ onLoad : app.editorLoaded }" ng-model="app.jdlText" spellcheck="false"></textarea>
		<!-- editor line number, error markers-->
		<div id="linenumbers" ng-class="{error: app.hasError}"></div>
		<div id="linemarker" ng-style="{'top': app.lineMarkerTop}"></div>
		<span id="error-tooltip" ng-cloak>{{ app.errorTooltip }}</span>
		<!-- canvas pan/zomm handler-->
		<div id="canvas-panner"></div>
		<!-- sidebar -->
		<div ng-include="app.sidebar" id="sidebar" class="sidebar {{app.sidebarVisible}}"></div>

	</div>
	<div id="discard-dialog" class="mag-dialog zoom-anim-dialog mfp-hide">
		<h1>Discard</h1>
		<p>Do you want to discard current diagram and load the default example?</p>
		<button class="btn" ng-click="app.discardCurrentGraph()">Yes</button>
		<button class="btn" ng-click="app.dismissDialog()">No</button>
	</div>
	<div id="upload-dialog" class="mag-dialog zoom-anim-dialog mfp-hide">
		<h1>Import JDL</h1>
		<p>Select a <code>.jh</code> or <code>.txt</code> file</p>
		<input class="upload" accept=".jh,.txt" type="file" id="jdlFileInput" /><br>
		<button class="btn" ng-click="app.importJDL()">Import</button>
		<button class="btn" ng-click="app.dismissDialog()">Dismiss</button>
  </div>
  <div id="old-version-dialog" class="mag-dialog zoom-anim-dialog mfp-hide" ng-hide="app.insideJhOnline">
		<h1>Warning!</h1>
		<p>You are using an old version of JDL Studio. Please use our new URL at: <a href="https://start.jhipster.tech/jdl-studio/">https://start.jhipster.tech/jdl-studio/</a><br>
		<button class="btn" ng-click="app.dismissDialog()">Dismiss</button>
	</div>
  <div id="create-dialog" class="mag-dialog zoom-anim-dialog mfp-hide" ng-show="app.insideJhOnline">
    <h1>Save a new JDL Model</h1>
    <p>Please give a name to your new JDL Model:</p>
    <p>
      <input type="text" ng-model="app.newJdlModelName" minlength="1" value="" placeholder="New JDL Model"/><br>
    </p>
    <button class="btn" ng-click="app.doCreateJdl()">Save</button>
    <button class="btn" ng-click="app.dismissCreateNewJdl()">Cancel</button>
  </div>
	<script>
	// temp hack to use jdl parser from jhipster-core
	var module = module || {};
	</script>
	<!-- build:js dist/js/main.js -->
    <!-- bower:js -->
	<script src="bower_components/lodash/lodash.js"></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/magnific-popup/dist/jquery.magnific-popup.js"></script>
	<script src="bower_components/jdl-core/index.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/codemirror/lib/codemirror.js"></script>
	<script src="bower_components/codemirror/keymap/sublime.js"></script>
	<script src="bower_components/codemirror/addon/edit/matchbrackets.js"></script>
	<script src="bower_components/codemirror/addon/edit/closebrackets.js"></script>
	<script src="bower_components/codemirror/addon/dialog/dialog.js"></script>
	<script src="bower_components/codemirror/addon/search/searchcursor.js"></script>
	<script src="bower_components/codemirror/addon/hint/show-hint.js"></script>
	<!-- endinject -->
	<!-- inject:js -->
	<script src="js/lib/dagre.min.js"></script>
	<script src="js/codemirror/jdl-hint.js"></script>
	<script src="js/codemirror/codemirror.jdl-mode.js"></script>
	<script src="js/nomnoml/skanaar.canvas.js"></script>
	<script src="js/nomnoml/skanaar.util.js"></script>
	<script src="js/nomnoml/skanaar.vector.js"></script>
	<script src="js/nomnoml/nomnoml.parser.custom.js"></script>
	<script src="js/nomnoml/nomnoml.layouter.custom.js"></script>
	<script src="js/nomnoml/nomnoml.renderer.custom.js"></script>
	<script src="js/nomnoml/nomnoml.custom.js"></script>
	<script src="js/app.js"></script>
	<script src="js/jdl-editor.directive.js"></script>
	<!-- endinject -->
    <!-- endbuild -->
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
			m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-46075199-1', 'auto');
		ga('send', 'pageview');

	</script>
</body>
</html>
