html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: Calibri, Helvetica, sans-serif;
  font-weight: 100;
  hr {
    border: 0;
    background: #555;
    height: 1px;
  }

  h1 {
    font-size: 100%;
    display: inline;
    margin: 0;
  }

  img {
    vertical-align: middle;
    border: 0;
  }

  a {
    color: #61afef;
    opacity: 0.75;
    text-decoration: none;

    &.link {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }

    &:active {
      color: #61afef;
      opacity: 0.75;
      text-decoration: none;
    }

    &:hover {
      color: #61afef;
      opacity: 1;
      text-decoration: none;
    }
  }

  .wrap {
    height: 100%;
  }
}

header {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 4;
  font-weight: bold;
  background: rgb(40, 44, 52);
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.4);

  a.link {
    margin-left: 5px;
    margin-right: 5px;
  }

  .tools,
  .tools-inner {
    font-family: Calibri, Helvetica, sans-serif;
    font-weight: bold;
    background: transparent;
    border-radius: 5px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;

    select {
      color: white;
      background: transparent;
      padding: 5px;
      border: 1px solid #ccc;
      outline: transparent;
      margin-left: 5px;
      margin-right: 5px;
      max-width: 185px;

      > option {
        background: #282b30;
        color: white;
        outline: transparent;
      }
    }

    i {
      color: #fdf6e3;
      font-size: 1.2em;
      width: 24px;
      height: 24px;
      margin-bottom: 5px;
    }

    > {
      a {
        margin-left: 5px;
      }

      .logo {
        color: #fdf6e3;
        font-size: 150%;
        line-height: 60px;
      }
      .logo-img {
        .jhi-logo {
          height: 40px;
          margin-bottom: 8px;
        }
      }
      .tooltip {
        font-size: 90%;
        color: #807c72;
        position: fixed;
        top: 7px;
        right: 20px;
        text-align: right;
        background: rgb(40, 44, 52);
        border-radius: 2px;
        padding: 0 5px;
      }
    }

    .seperator {
      color: white;
      margin: 0 10px;
      font-size: 1.5em;
      font-weight: 100;
    }
  }

  .tools {
    &.right {
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-align-content: space-between;
      -ms-flex-line-pack: justify;
      align-content: space-between;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
  }

  &.light-theme {
    background: rgb(253, 246, 227);
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.28);
    .tools {
      i {
        color: rgb(40, 44, 52);
      }
      select {
        color: rgb(40, 44, 52);
        border: 1px solid #222;

        > option {
          background: #fff;
          color: #282b30;
        }
      }
      > {
        .logo {
          color: rgb(40, 44, 52);
        }
      }
    }
  }
}

.studio {
  .line-marker {
    background: rgba(220, 50, 47, 0.5);
    position: absolute;
    left: 0;
    top: -30px;
    width: 40px;
    height: 22px;
    z-index: 4;
  }

  .line-numbers {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 100%;
    background: rgb(32, 36, 45);
    color: #d4cebd;

    &.error {
      background: rgba(220, 50, 47, 0.3) !important;
      z-index: 4;
    }
  }

  .code-mirror-editor {
    outline: none;
    width: 100%;
    height: 100%;
    background: rgb(40, 44, 52);
    box-sizing: border-box;
    border: 0;
    font-family: Consolas, Menlo, monospace;
    color: #657b83;
    resize: none;
    opacity: 1;
    transition: opacity 0.3s;
    // this is a codemirror class
    .CodeMirror {
      height: calc(100vh - 60px);
      border: 0;
      width: 100%;
      margin: 60px 0 20px 0;
      line-height: 25px;
      font-size: 16px;
      font-family: Consolas, Monaco, monospace;
      opacity: 1;
      transition: opacity 0.3s;
      // this is a codemirror class
      .CodeMirror-linenumber {
        color: #3e4350;
        padding-left: 5px;
      }
      .CodeMirror-sizer {
        margin-left: 40px !important;
      }
    }
  }

  &.canvas-mode {
    .CodeMirror {
      opacity: 0;
      transition: opacity 1s;
    }
    .canvas-tools {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }

  .canvas-tools {
    display: block;
    position: absolute;
    top: 75px;
    right: 25px;
    width: 24px;
    opacity: 0;
    z-index: 3;
    transition: opacity 1s;
    i {
      font-size: 1.5em;
      color: white;
    }

    a {
      line-height: 2.5em;
    }
  }

  .canvas-panner {
    position: absolute;
    z-index: 2;
    width: 40%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    top: 0;
    right: 20px;
    bottom: 0;
    cursor: move;
  }

  #canvas {
    position: absolute;
    cursor: move;
  }

  .error-tooltip {
    font-size: 90%;
    font-weight: bold;
    color: rgb(245, 96, 96);
    position: fixed;
    top: 75px;
    left: 45px;
    text-align: right;
    background: rgb(40, 44, 52);
    border-radius: 2px;
    padding: 0 5px;
    font-family: Calibri, Helvetica, sans-serif;
    z-index: 5;
  }

  &.light-theme {
    .code-mirror-editor {
      background: #fdf6e3;
      color: #657b83;
      // this is a codemirror class
      .CodeMirror-linenumber {
        color: #d4cebd;
      }
    }
    .line-numbers {
      background: #eee8d5;
      color: #d4cebd;
    }
    .error-tooltip {
      background: #eee8d5;
    }
    .canvas-tools {
      i {
        color: #282c34;
      }
    }
  }
}

.sidebar {
  display: none;
  position: absolute;
  z-index: 3;
  top: 0px;
  right: 0;
  bottom: 0;
  width: 375px;
  background-color: rgb(40, 44, 52);
  box-shadow: -3px 0 6px rgba(0, 0, 0, 0.28);

  .highlighter-rouge pre,
  code {
    color: #c678dd;
  }

  &.visible {
    display: block;
    overflow: auto;
  }

  .content {
    display: block;
    color: #9da5b4;
    font-family: Consolas, Monaco, monospace;
    padding: 70px 10px 200px 20px;

    p {
      font-family: Calibri, Helvetica, sans-serif;
    }

    label {
      display: block;
      font-family: Calibri, Helvetica, sans-serif;
      color: #93a1a1;
      margin-top: 1em;
    }

    h2 {
      font-size: inherit;
      display: block;
      font-family: Calibri, Helvetica, sans-serif;
      color: #93a1a1;
      margin-top: 1em;
    }

    b {
      display: inline-block;
      font-weight: normal;
      width: 40%;
      font-family: Calibri, Helvetica, sans-serif;
      color: #93a1a1;
    }
  }
  .invert {
    -webkit-filter: grayscale(100%) brightness(1.5) invert(100%);
    filter: grayscale(100%) brightness(1.5) invert(100%);
  }

  &.light-theme {
    background-color: rgb(253, 246, 227);
    box-shadow: -3px 0 6px rgba(0, 0, 0, 0.28);
    .content {
      color: #586e75;
    }
    hr {
      background: #0004;
    }
    .invert {
      -webkit-filter: none;
      filter: none;
    }
  }
}

.popup-content {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: rgb(40, 44, 52);
  color: #fff;
  border: 1px solid #565454;
  font-family: Calibri, Helvetica, sans-serif;
  .modal {
    > .header {
      width: 98%;
      border-bottom: 1px solid #565454;
      font-size: 18px;
      text-align: center;
      padding: 5px;
      font-weight: 400;
    }
    > .content {
      width: 100%;
      padding: 10px 5px;
      code {
        color: #c678dd;
      }

      input.upload {
        margin: 5px 0 25px;
      }
    }
    > .actions {
      width: 100%;
      padding: 10px 5px;
      margin: auto;
      text-align: center;
      button {
        margin: 5px;
        border: 1px solid #b9b3b3;
        color: rgb(40, 44, 52);
        background: #b9b3b3;
        padding: 6px 15px;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
          background: #ccc;
        }
        &:active {
          border: 1px solid #b9b3b3;
        }
      }
    }
  }
  &.light-theme-content {
    background-color: #fdf6e3;
    color: #657b83;
    border: 1px solid #d7d7d7;
    .modal {
      > .header {
        border-bottom: 1px solid #d7d7d7;
      }
      > .actions {
        button {
          border: 1px solid #d7d7d7;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  header {
    height: 90px;
    .tools {
      &.right {
        flex-direction: column-reverse;
      }
    }
  }
  .studio {
    .code-mirror-editor {
      .CodeMirror {
        height: calc(100vh - 90px);
        margin: 90px 0 20px 0;
      }
    }
  }
}
